body{

    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.Tobey{
    margin: auto ;
    
}
.spider1,.movie{
    display: block;
    width: 400px;
   
    border-radius: 20px;

}
.spider1{
    width: 380px;
    height: 300px;
   
    margin-top: 20px;
   
}
h1{
    text-decoration-line: underline ;
    text-align: center;
    font-size: 50px;
    color: red;
}
.peli2{
    display: block;
    width: 400px;
    border-radius: 20px;
    display:inline-block;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    background-color: rgb(40, 40, 40);
    padding: 10px 10px 20px 20px;
    text-align: center;
    color: white;
    font-size: 20px;
   
        
}
.tobey2{
    display: inline-block;
   
}